@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    @apply h-full;
    @apply flex;
    @apply flex-col;
}

html {
    height: -webkit-fill-available;
}
body {
    font-family: 'Rubik', sans-serif;
    overscroll-behavior: none;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

h1 {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 1rem;
}
h2 {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 1rem;
}
h3 {
    font-weight: bold;
    font-size: 18px;
}
p {
    margin-bottom: 0.75rem;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
}
input[type="range"]::-webkit-slider-runnable-track {
    background: #053a5f;
    height: 6px;
    border-radius: 5px;
}
input[type="range"]::-moz-range-track {
    background: #053a5f;
    height: 6px;
    border-radius: 5px;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -7px;
    background-color: #38BDF8;
    height: 20px;
    width: 4px;
    border-radius: 5px;
}
input[type="range"]::-moz-range-thumb {
    border: none;
    border-radius: 0;
    background-color: #38BDF8;
    height: 20px;
    width: 4px;
}
